<div class="modal-dialog">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Criar novo {{entidadeselecionada.nome}}</h4>
		</div>

		<div class="modal-body">
			<form name="formentidade">
				<div class="row">
					<div class="col-md-offset-2 col-md-8 col-xs-offset-2 col-xs-8">
						<!--FORM GENERICO-->
						<span ng-if="entidadeselecionada.nome != 'usuario'">
							<div ng-repeat="(key, value) in entidadeselecionada.modelo">

								<!--INPUTS DO TIPO STRING-->
								<span ng-if="value == 'String'">
									<div class="form-group">
										<label class="control-label">{{key}}({{value}})</label>
										<input type="text" class="form-control" ng-model="entidadeselecionada.dadoentidade[key]" />
									</div>
								</span>
								<!--INPUTS DO TIPO NUMBER-->
								<span ng-if="value == 'Number'">
									<div class="form-group">
										<label class="control-label">{{key}}({{value}})</label>
										<input type="number" class="form-control" ng-model="entidadeselecionada.dadoentidade[key]" />
									</div>
								</span>
								<!--INPUTS DO TIPO DATE-->
								<span ng-if="value == 'Date'">
									<div class="form-group">
										<label class="control-label">{{key}}({{value}})</label>
										<input type="date" class="form-control" ng-model="entidadeselecionada.dadoentidade[key]" />
									</div>
								</span>
								<!--INPUTS DO TIPO REFERENCIA-->
								<span ng-if="value.referencia">
									<div class="form-group">
										<label class="control-label">{{key}}({{value.referencia}}) [busca por : {{entidades[key].modelo.ref}}]</label>
										<input
												class="form-control"
												list="datalist-{{key}}"
												ng-model="referencianome[key]"
												ng-change="setReferencia(referencianome[key] ,key)"
										/>
										<datalist id="datalist-{{key}}">
											<option
												ng-repeat="referencia in listareferencia[key] track by $index"
												value="{{referencia[entidades[key].modelo.ref] + '(' + referencia._id + ')-' + $index}}"
											>
										</datalist>

										<!-- CRIADO POR OSVALDO -->
										<!-- <select 
											ng-options="item as item[entidades[key].modelo.ref] for item in listareferencia[key]" 
											value="item" 
											ng-model="entidadeselecionada.dadoentidade[key]"
										>
										</select> -->
									</div>
								</span>
							</div>
						</span>
						<!--FORM DE USUARIO-->
						<span ng-if="entidadeselecionada.nome == 'usuario'">
							<!--NOME-->
							<div class="form-group">
								<label class="control-label">nome(String)</label>
								<input type="text" class="form-control" ng-model="entidadeselecionada.dadoentidade.nome">
							</div>
							<!--SOBRENOME-->
							<div class="form-group">
								<label class="control-label">sobrenome(String)</label>
								<input type="text" class="form-control" ng-model="entidadeselecionada.dadoentidade.sobrenome">
							</div>
							<!--EMAIL-->
							<div class="form-group" ng-class="{ 'has-error' : (formentidade.email.$error.required || formentidade.email.$invalid) && formentidade.email.$dirty}">
								<label class="control-label">e-mail(String)</label>
								<input type="email" name="email" class="form-control" ng-model="entidadeselecionada.dadoentidade.email" required>
								<!--MSG ERRO EMAIL OBRIGATORIO-->
								<div ng-show="formentidade.email.$error.required && formentidade.email.$dirty" class="msg-erro control-label">
									email obrigatório!
								</div>
								<div ng-show="formentidade.email.$invalid && formentidade.email.$dirty" class="msg-erro control-label">
									email invalido!
								</div>
							</div>
							<!--SENHA-->
							<div
									class="form-group"
									ng-class="
									{
										'has-error' :
										(formentidade.senha.$error.required && formentidade.senha.$dirty) ||
										(entidadeselecionada.dadoentidade.senha != entidadeselecionada.dadoentidade.confirmasenha)
									}"
							>
								<label class="control-label">senha(String)</label>
								<input type="password" name="senha" class="form-control" ng-model="entidadeselecionada.dadoentidade.senha" required>
								<!--MSG ERRO SENHA OBRIGATORIO-->
								<div ng-show="formentidade.senha.$error.required && formentidade.senha.$dirty" class="msg-erro control-label">
									senha obrigatório!
								</div>
								<!--MSG ERRO SENHA E CONFIRMA SENHA DIFERENTES-->
								<div
										ng-show="entidadeselecionada.dadoentidade.senha != entidadeselecionada.dadoentidade.confirmasenha"
										class="msg-erro control-label">
									senha e confirma senha estão diferentes!
								</div>
							</div>
							<!--CONFIRMA SENHA-->
							<div
									class="form-group"
									ng-class="
									{
										'has-error' :
										(formentidade.confirmasenha.$error.required && formentidade.confirmasenha.$dirty) ||
										(entidadeselecionada.dadoentidade.senha != entidadeselecionada.dadoentidade.confirmasenha)
									}"
							>
								<label class="control-label">confirma senha(String)</label>
								<input
										type="password"
										name="confirmasenha"
										class="form-control"
										ng-model="entidadeselecionada.dadoentidade.confirmasenha"
										required
								>
								<!--MSG ERRO CONFIRMA SENHA OBRIGATORIO-->
								<div
										ng-show="formentidade.confirmasenha.$error.required && formentidade.confirmasenha.$dirty"
										class="msg-erro control-label"
								>
									confirma senha obrigatório!
								</div>
								<!--MSG ERRO SENHA E CONFIRMA SENHA DIFERENTES-->
								<div
										ng-show="entidadeselecionada.dadoentidade.senha != entidadeselecionada.dadoentidade.confirmasenha"
										class="msg-erro control-label"
								>
									senha e confirma senha estão diferentes!
								</div>
							</div>
							<!--DATA NASCIMENTO-->
							<div class="form-group">
								<label class="control-label">data nascimento(Date)</label>
								<input type="date" class="form-control" ng-model="entidadeselecionada.dadoentidade.datanascimento">
							</div>
							<!--SEXO-->
							<div class="form-group">
								<label class="control-label">sexo(sexo)</label>
								<select class="form-control" ng-model="entidadeselecionada.dadoentidade.sexo">
									<option value="masculino">masculino</option>
									<option value="feminino">feminino</option>
								</select>
							</div>
							<!--NUMERO CELULAR-->
							<div class="form-group">
								<label class="control-label">numero celular(String)</label>
								<input type="text" class="form-control" ng-model="entidadeselecionada.dadoentidade.numerocelular">
							</div>
							<!--FOTO-->
							<div class="form-group">
								<label class="control-label">foto(String)</label>
								<input type="text" class="form-control" ng-model="entidadeselecionada.dadoentidade.foto">
							</div>
							<!--TIPO-->
							<div class="form-group" ng-class="{ 'has-error' : formentidade.tipo.$error.required && formentidade.tipo.$dirty}">
								<label class="control-label">tipo(Number)</label>
								<input type="number" name="tipo" class="form-control" ng-model="entidadeselecionada.dadoentidade.tipo" required>
								<!--MSG ERRO TIPO OBRIGATORIO-->
								<div ng-show="formentidade.tipo.$error.required && formentidade.tipo.$dirty" class="msg-erro control-label">
									tipo obrigatório!
								</div>
							</div>
							<!--IDIOMA-->
							<div class="form-group">
								<label>idioma(idioma) [busca por : nome]</label>
								<input 
									class="form-control" 
									list="datalist-idioma" 
									ng-model="referencianome.idioma"
									ng-change="setReferencia(referencianome.idioma , 'idioma')"
								>
								<datalist id="datalist-idioma">
									<option 
										ng-repeat="referencia in listareferencia.idioma track by $index" 
										value="{{referencia.nome + '(' + referencia._id + ')-' + $index}}"
									>
								</datalist>

								<!-- CRIADO POR OSVALDO -->
								<!-- <select ng-options="item as item.nome for item in listareferencia.idioma" value="item" ng-model="entidadeselecionada.dadoentidade.idioma"></select>
 								-->
							</div>
						</span>
						<!--BTN SALVAR-->
						<div>
							<button
									class="btn btn-success"
									ng-disabled="
									((formentidade.email.$error.required) ||
									(formentidade.email.$invalid) ||
									(formentidade.confirmasenha.$error.required) ||
									(formentidade.senha.$error.required) ||
									(formentidade.tipo.$error.required) ||
									(entidadeselecionada.dadoentidade.senha !== entidadeselecionada.dadoentidade.confirmasenha))
									&& entidadeselecionada.nome == 'usuario'
									"
									ng-click="salvarEntidade()"
							>
								Salvar
							</button>
						</div>

						<!--MSG ERRO NO BANCO-->
						<div class="msg-erro control-label">
							<!--MSG ERRO EMAIL JA UTILIZADO-->
							<div ng-show="emailErro">
								<p>Parece que o e-mail solicitado já esta cadastrado, favor usar outro e-mail!</p>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>