<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Criar novo {{entidadeselecionada.nome}}</h4>
        </div>

        <div class="modal-body">

            <div class="row">
                <div class="col-md-offset-2 col-md-8 col-xs-offset-2 col-xs-8">

                    <!--FORMULARIO GENERICO-->
                    <div ng-if="entidadeselecionada.nome !== 'usuario'">
                        <form name="formentidade">
                            <!--FORM GENERICO-->
                            <div ng-repeat="(key, value) in entidadeselecionada.modelo">

                                <!--INPUTS DO TIPO STRING-->
								<span ng-if="value == 'String'">
									<div class="form-group">
                                        <label class="control-label">{{key}}({{value}})</label>
                                        <input type="text"
                                               class="form-control"
                                               ng-model="entidadeselecionada.dadoentidade[key]"/>
                                    </div>
								</span>
                                <!--INPUTS DO TIPO NUMBER-->
								<span ng-if="value == 'Number'">
									<div class="form-group">
                                        <label class="control-label">{{key}}({{value}})</label>
                                        <input type="number"
                                               class="form-control"
                                               ng-model="entidadeselecionada.dadoentidade[key]"/>
                                    </div>
								</span>
                                <!--INPUTS DO TIPO DATE-->
								<span ng-if="value == 'Date'">
									<div class="form-group">
                                        <label class="control-label">{{key}}({{value}})</label>
                                        <input type="date"
                                               class="form-control"
                                               ng-model="entidadeselecionada.dadoentidade[key]"/>
                                    </div>
								</span>
                                <!--INPUTS DO TIPO REFERENCIA-->
								<span ng-if="value.referencia">
									<div class="form-group">
                                        <label class="control-label">{{key}}({{value.referencia}}) [busca por :
                                            {{entidades[key].modelo.ref}}]</label>
                                        <input class="form-control"
                                               list="datalist-{{key}}"
                                               ng-model="referencianome[key]"
                                               ng-change="setReferencia(referencianome[key] ,key)"/>
                                        <datalist id="datalist-{{key}}">
                                            <option ng-repeat="referencia in listareferencia[key] track by $index"
                                                    value="{{referencia[entidades[key].modelo.ref] + '(' +
                                                    referencia._id + ')-' + $index}}">
                                        </datalist>

                                        <!-- CRIADO POR OSVALDO -->
                                        <!-- <select
                                            ng-options="item as item[entidades[key].modelo.ref] for item in listareferencia[key]"
                                            value="item"
                                            ng-model="entidadeselecionada.dadoentidade[key]"
                                        >
                                        </select> -->
                                    </div>
								</span>
                            </div>

                            <!--BTN SALVAR-->
                            <div>
                                <button class="btn btn-success"
                                        ng-click="salvarEntidade(
                                        entidadeselecionada.nome,
                                        entidadeselecionada.dadoentidade)">
                                    Salvar
                                </button>
                            </div>
                        </form>
                    </div>

                    <!--FORMULARIO DE USUARIO-->
                    <div ng-if="entidadeselecionada.nome === 'usuario'">
                        <formulariousuario entidadeusuario="entidadeselecionada"></formulariousuario>
                    </div>
                </div>
            </div>


        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>