<div class="container">
	<div class="row">
		<navbar></navbar>
		<table class="table table-hover">
		    <thead>
		      	<tr>
		        	<th class="text-center">Nome</th>
		        	<th class="text-center">Criar Nova Entidade</th>
		        	<th class="text-center">Visualizar Entidade</th>
		      	</tr>
		    </thead>
		    <tbody>
		    	<tr ng-repeat="entidade in entidades">
		        	<td align="center">
		        		{{entidade.nome}}
		        	</td>
		        	<td align="center">
		        		<button class="btn btn-info">
		        			Criar {{entidade.nome}}
		        		</button>
		        	</td>
		        	<td align="center">
		        		<button class="btn btn-success">
		        			Visualizar todos {{entidade.nome}}
		        		</button>
		        	</td>
		      	</tr>
		    </tbody>
		</table>
	</div>
</div>
