<div class="container">
	<div class="row">
		<navbar></navbar>
		<table class="table table-hover">
		    <thead>
		      	<tr>
		        	<th class="text-center">Nome</th>
		        	<th class="text-center">Criar Nova Entidade</th>
		        	<th class="text-center">Visualizar Entidade</th>
		      	</tr>
		    </thead>
		    <tbody>
		    	<tr ng-repeat="entidade in entidades">
		        	<td align="center">
		        		{{entidade.nome}}
		        	</td>
		        	<td align="center">
		        		<button 
		        			class="btn btn-info" 
		        			ng-click="selecionaEntidade(entidade)" 
		        			data-toggle="modal" 
		        			data-target="#modalCriaEntidade"
		        		>
		        			Criar {{entidade.nome}}
		        		</button>
		        	</td>
		        	<td align="center">
		        		<button class="btn btn-success">
		        			Visualizar todos {{entidade.nome}}s
		        		</button>
		        	</td>
		      	</tr>
		    </tbody>
		</table>

		<!-- MODAL CRIA ENTIDADE -->
		<div id="modalCriaEntidade" class="modal fade" role="dialog">
			<modalcrianovaentidade entidadeselecionada="entidadeSelecionada"></modalcrianovaentidade>
		</div>

	</div>
</div>
