<div class="container">
    <h1>Bem vindo ao EsqueLabTic!</h1>
    <h3>Essa ferramenta foi criada para quem está interessado(a) em trabalhar com a tecnologia javascript!</h3>
    <div class="div-texto">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">

                <p>
                    <span></span>Ainda em fase de testes, o EsqueLabTic proporciona algumas funcionalidades
                    implementadas no que diz
                    respieto a banco de dados.
                </p>

                <p>
                    <span></span>Sempre que criada uma entidade no banco de dados passando pelo mongoose, essas
                    entidades serão
                    reprensatadas na interface com formularios, onde pode-se por meio deles, criar novas entidades
                    completas, remover a entidade desejada, visulizar ou até mesmo editar.
                </p>

                <p>
                    <span></span>O EsqueLabTic utiliza tecnologia de evento para comunicação com o server. <br>
                    <span></span>Quando baixado você encontra a seguinte estrutura de pastas.
                </p>

                <p style="color: blue">
                    <span></span>db <br>
                    <span></span>hub <br>
                    <span></span>public <br>
                    <span></span>rtc <br>
                    <span></span>util <br>
                </p>

                <br>
                <br>

                <p style="color: purple">
                    db - encontra-se as pastas managers e model, onde pode-se fazer todo o controle do banco de dados,
                    como já citado todas as solicitações chegam até os documentos atravéz de evento. Nela também
                    encontram-se os documentos Banco.js e index.js responsaveis por inicar a conecção com o banco de
                    dades e por repassar as funções crud. <br>
                </p>

                <br>
                <br>

                <p style="color: purple">
                    hub - possui o arquivo hub.js, que é por onde passam os eventos que ocorrem no servidor, em resumo é
                    o canal de comunicação entre os arquivos do servidor. <br>
                </p>

                <br>
                <br>

                <p style="color: orange;">
                    public - é dividido em algumas pastas sendo uma para cada página da aplicação, sendo atualmente as
                    pastas: <br>
                    <br>
                    <span></span>home - página inicial após login do úsuario. <br>
                    <span></span>entidades - página de gerenciamento do banco de dados. <br>
                    <span></span>login - página inicial contendo login e cadastro. <br>
                    <span></span>navbar - sistema de navegação entre as páginas. <br>
                    <span></span>components - contém vários componentes reutilizáveis entre eles 'polymer-tag-exemplo'
                    sendo um exemplo de um componente polymer. <br>
                </p>

                <br>
                <br>

                <p style="color: purple;">
                    rtc - possui os arquivos que ligam os eventos enviados da interface para o servidor, atravéz dele
                    fazemos a restrição por tipo de usuario, se o usuario tem restrições comparado a outro tipo, o
                    evento responsavel pela função desejada não será implementado no rtc que representa esse tipo de
                    usuario. <br>
                </p>

                <br>
                <br>

                <p style="color: purple">
                    util - possui o arquivo ctrbd.js, mensagem.js e util.js. O ctrbd.js pussui funções uteis para a
                    construção do crud de entidades fornecido pelo EsqueLabTic, o mensagem.js é responsavel por
                    padronizar as mensagens do servidor e importante na hora de saber qual o rtc está fazendo a
                    solicitação e o util.js possui algumas funções de verificação.
                </p>

                <br>
                <br>

                <p style="color: red">
                    <span></span>Ainda estamos montando um manual de uso, mas virão mais facilidades, uma dela para
                    criar as entidades, que ainda está sendo feita de maneira manual.
                </p>
            </div>
        </div>
    </div>
</div>