<div>
    <!--NAVBAR-->
    <nav class="navbar navbar-config navbar-static-top">
        <div class="container-fluid">
            <!--CABECARIO-->
            <div class="navbar-header">
                <!--BTN PARA RESPONSIVIDADE-->
                <button
                        type="button"
                        class="navbar-toggle navbar-toggleconfig collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar"
                >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--TITULO-->
                <a class="navbar-brand navbar-link" href="">Esqueleto 2.0</a>
                <p class="navbar-text navbar-textoconfig" ng-if="usuariologado !== null">
                    Signed in as {{usuariologado.nome}}
                </p>
            </div>
            <!--LOCAIS DE NAVEGACAO-->
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!--HOME-->
                    <li ng-if="usuariologado !== null">
                        <a class="navbar-link" href="" ng-click="navega('home')">Home</a>
                    </li>
                    <!--ENTIDADES-->
                    <li ng-if="usuariologado.tipo === 0 && usuariologado !== null">
                        <a class="navbar-link" href="" ng-click="navega('entidades')">Entidades</a>
                    </li>
                    <!--IDIOMA-->
                    <li>
                        <a
                                class="navbar-link dropdown-toggle"
                                data-toggle="dropdown"
                                role="button"
                                aria-haspopup="true"
                        >
                            <!--TODO adicionar bandeira pais-->
                            {{idiomaselecionado.nome}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu navbar-dropdown">
                            <li ng-repeat="idioma in listaidiomas">
                                <a class="navbar-dropdowntexto" href="" ng-click="selecionaidioma(idioma)">
                                    {{idioma.nome}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--SAIR-->
                    <li ng-if="usuariologado !== null">
                        <a class="navbar-link" href="" ng-click="sair('')">
                            Sair
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>