<div>
    <!--<ul class="nav nav-tabs">-->
        <!--<li role="presentation" class="{{classes.home}}"><a ng-click="navega('home')">Home</a></li>-->
        <!--<li role="presentation" class="{{classes.entidades}}"><a ng-click="navega('entidades')">Entidades</a></li>-->
    <!--</ul>-->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Esqueleto 2.0</a>
                <p class="navbar-text">Signed in as Bosvaldo</p>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" ng-click="navega('home')">Home</a></li>
                    <li><a href="" ng-click="navega('entidades')">Entidades</a></li>
                    <li><a href="" ng-click="navega('')">Sair</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>