<div>
    <!--<ul class="nav nav-tabs">-->
        <!--<li role="presentation" class="{{classes.home}}"><a ng-click="navega('home')">Home</a></li>-->
        <!--<li role="presentation" class="{{classes.entidades}}"><a ng-click="navega('entidades')">Entidades</a></li>-->
    <!--</ul>-->
    <nav class="navbar navbar-inverse" >
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Esqueleto 2.0</a>
                <p class="navbar-text">Signed in as Mark Otto</p>
            </div>

            <div class="">
                <ul class="nav navbar-nav">
                    <li>Link1</li>
                    <li>Link2</li>
                    <li><a href="" ng-click="sair()">Sair</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>