<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="modal-retorno">

    <style>
    </style>

    <template>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{titulo}}</h4>
                </div>

                <div class="modal-body">
                    {{texto}}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </template>

</dom-module>

<script>
    Polymer({
       is: "modal-retorno",

        properties: {
            titulo: String,
            texto: String
        }
    });


</script>