<div class="container">
	<div class="row">
		<table class="table table-hover">
		    <thead>
		      	<tr>
		        	<th class="text-center">Nome</th>
		        	<th class="text-center">Criar Nova Entidade</th>
		        	<th class="text-center">Visualizar Entidade</th>
		      	</tr>
		    </thead>
		    <tbody>
		    	<tr ng-repeat="entidade in entidades">
		        	<td align="center">
		        		{{entidade.nome}}
		        	</td>
		        	<td align="center">
		        		<button
								class="btn btn-info"
								ng-click="selecionaEntidade(entidade.nome, entidade.modelo, {}, 'modalMostraEntidade')"
		        		>
		        			Criar {{entidade.nome}}
		        		</button>
		        	</td>
		        	<td align="center">
		        		<button
								class="btn btn-success"
								ng-click="visualidasCadastradosEntidade(entidade)"
						>
		        			Visualizar todos {{entidade.nome}}s
		        		</button>
		        	</td>
		      	</tr>
		    </tbody>
		</table>

		<!-- MODAL CRIA ENTIDADE -->
		<div id="modalCriaEntidade" class="modal fade" role="dialog">
			<modalcrianovaentidade
					entidades="entidades"
			></modalcrianovaentidade>
		</div>

		<!-- MODAL MOSTRA ENTIDADE -->
		<div id="modalMostraEntidade" class="modal fade" role="dialog">
			<modalmostraentidade
					listaentidade="listaEntidade"
					callback-fn="selecionaEntidade(
						entidadediretivanome,
						entidadediretivamodelo,
						dadoentidadediretiva,
						modal,
						edit
					)"
			></modalmostraentidade>
		</div>

		<!-- MODAL RETORNO-->
		<div id="modalRetorno" class="modal fade" role="dialog">
			<modal-retorno titulo="{{modalTitulo}}" texto="{{modalTexto}}"></modal-retorno>
		</div>

		<!-- MODAL CONFIRMA DELETA ENTIDADE-->
		<div id="modalConfirmaEntidadeDelete" class="modal fade" role="dialog">
			<modalconfirmaentidadedelete entidadeselecionada="entidadeSelecionada"></modalconfirmaentidadedelete>
		</div>

	</div>
</div>
